<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student1" class="com.springcore.SpringCore.Student">
        <property name="roll" value="144"/>
        <property name="prn" value="0124ucsm2008"/>        
        <property name="name" value="Mahesh Shinde"/>
        <property name="address" value="Yeola"/>
        <property name="gender" value="male"/>
    </bean>
</beans>
